---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';
import type { iconPaths } from '../components/IconPaths';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

const iconLinks: { label: string; href: string; icon: keyof typeof iconPaths }[] = [
	{ label: 'GitHub', href: 'https://github.com/ade-nugraha306', icon: 'github-logo' },
	{ label: 'Facebook', href: 'https://www.facebook.com/eds.gaming.2005/', icon: 'facebook-logo' },
	{ label: 'LinkedIn', href: 'https://www.linkedin.com/in/ade-nugraha-85aa25351/', icon: 'linkedin-logo' },
];
---

<BaseLayout title="About | Ade Nugraha" description="About Ade Nugraha">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/profil-ade.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a passionate web developer with a strong foundation in JavaScript ecosystems, currently focused on building modern, scalable web applications. I began my journey exploring C++ and Python, later diving deep into PHP and Laravel. As my skills evolved, I transitioned into JavaScript, mastering both front-end and back-end technologies, especially through projects powered by Next.js, PostgreSQL, and Prisma.
					</p>
					<br>
					<p>
						Beyond the code, I value clean architecture, consistency, and developer-friendly tooling. My recent experiences include building mock APIs, handling real-time data, and working within collaborative environments where clarity and adaptability are essential. I'm always exploring new challenges and aiming to bridge the gap between user experience and solid engineering.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>SMK Negeri 015 Samarinda</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Web Backend Developer</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tech Stack</h2>
				<div class="content">
					<p>JavaScript</p>
				</div>
				<div class="content">
					<p>TypeScript</p>
				</div>
				<div class="content">
					<p>PostgreSQL</p>
				</div>
				<div class="content">
					<p>Prisma</p>
				</div>
				<div class="content">
					<p>NextJS</p>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
